body{
	margin: 0 auto;
	width: 100%;
	font: 100% 'Open Sans', sans-serif;
	font-weight: normal;
}
h1 {
	font-weight: 300;
	font-size: 3em;
	color: #333333;
	letter-spacing: -0.025em;
}
h2 {
	font-weight: 700;
	font-size: 2em;
	color: #333333;
	letter-spacing: -0.025em;
	text-align: center;
}
a {
	color: #333333;
}
strong {
	font-weight: 700;
}
#content{
}
#nav{
	z-index: 1000;
	background: #282828;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
#nav ul{
	margin: 0 auto;
	width: 22em;
}
#nav ul li{
	display: inline-block;
	height: auto;
	margin:.5em;
	text-align: center;
	width: auto;
}
#nav ul li a{
	padding: .5em;
	color: white;
	display:block;
	text-decoration: none;
	font-size: 95%;
	font-weight: 600;
}
#nav ul li a:hover{
	background: #333333;
	border-radius: .2em;
}
#intro{
	padding-top: 12em;
	padding-bottom: 4em;
	width: 960px;
	margin: 0 auto;
}
#intro p {
	font-size: 1.5em;
	line-height: 1.75em;
	color: #333333;
}
#portrait{
	border-radius: 40em;
	float: left;
}
#about{
}
#work{
	padding-top: 4em;
	padding-bottom: 4em;
	width: 960px;
	margin: 0 auto;
}
#contact header h2{
	color: white;
}
#shadow-style1{
	background-color: #f4f4f4;
	text-shadow: 1px 1px 0px #fff;
}
#shadow-style2{
	background-color: #303030;
	color: #999;
	text-shadow: -1px -1px 0px #181818;
}
.shadow{
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url('images/bg.png');
	box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
}
.btn{
	margin-top:2em;
	padding:1em 2.35em 1em 2.35em;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 8px;
	text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
	overflow: hidden;
	background: #61b8db;
	background-image: -moz-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -webkit-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -o-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: -ms-linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	background-image: linear-gradient(top, rgba(97,184,219,0), rgba(48,141,196,1));
	box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
	-moz-transition: background-color .2s ease-in-out;
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}
.work-item{
	width: 12em;
	height: auto;
	margin: 0 auto;
	padding: 1em;
	box-shadow: 0px 0px 0px 3px #162951 inset;
}
.portfolio-item{
	width: 12em;
	height: auto;
	margin: 0 auto;
	padding: 1em;
	box-shadow: 0px 0px 0px 3px #162951 inset;
}

/* clearfix */

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}